/* Resetting */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* Main Part */

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--black);
  color: var(--red);

  --black: #0C0F0A;
  --white: #FFFCFF;
  --red: #FF206E;
}

/* Index Html */

.index h1 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
}

.index form {
  min-height: 50vh;
  display: grid;
  place-content: center;
  gap: 16px;
}

.index .name {
  display: grid;
  gap: 6px;
}

.index label,
.index .create {
  font-size: 2rem;
  font-weight: 700;
}

.index input,
.index .create {
  font-weight: 500;
  background-color: transparent;
  border: 3px solid var(--red);
  border-radius: 16px;
  padding: 2px 12px 6px;
}

.index input {
  font-size: 1.4rem;
  color: var(--white);
}

.index input:focus {
  outline: none;
  border: 3px solid var(--white);
}

.index .create {
  color: var(--red);
  border-radius: 20px;
  cursor: pointer;
}

.index .create:hover {
  background-color: var(--red);
  color: var(--black);
}

.index .create:active {
  filter: brightness(80%);
}

/* Game Html */

.turn {
  text-align: center;
  font-size: 3rem;
  margin-top: 8px;
}

.scores {
  display: grid;
  grid-template-columns: repeat(3, 15%);
  gap: 16px;
  justify-content: center;
  margin: 12px auto 36px;
  font-size: 2rem;
  text-align: center;
}

.scores div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.scores p:nth-child(2) {
  border-radius: 16px;
  background-color: var(--red);
  color: var(--black);
  padding-bottom: 4px;
  font-weight: 500;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  width: 55vh;
  margin: 24px auto;
  gap: 8px;
  background-color: var(--red);
}

.cell {
  aspect-ratio: 1;
  background-color: var(--black);
  border: none;
  color: var(--red);
}


.win {
  background-color: var(--red);
  color: var(--black);
  border: 3px solid var(--black);
}


.nav {
  display: grid;
  grid-template-columns: auto auto;
  padding: 25px;
  justify-content: space-between;
  align-items: stretch;
}

.nav button {
  border: 3px solid var(--red);
  border-radius: 16px;
  color: var(--red);
  font-size: 2rem;
  padding: 5px 20px 10px;
  background-color: transparent;
  font-weight: 500;
}

.nav button:hover {
  background-color: var(--red);
  color: var(--black);
}

.nav button:active {
  filter: brightness(80%);
}