body {
  text-align: center;
}

.turn {
  margin: 0;
  font-size: 4rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  width: 60vh;
  margin: 24px auto;
}

.cell {
  aspect-ratio: 1;
  background-color: white;
}

.TokenX {
  background: no-repeat center/contain url("./assets/X.svg");
}

.TokenO {
  background: no-repeat url("./assets/O.svg");
}

.win {
  background-color: rgb(69, 255, 69);
}
